.main-columns {
  display: flex;
}

.box-column {
  flex-grow: 1;
  /* Flex grow is used to make the boxes flexible */
  margin: 10px 10px;
  /* This adds spacing between the boxes */
  padding: 5px;
}

#column1 {
  flex-basis: 25%;
  border: 1px solid #696969;
  margin-right: 5px;
}

#column1 button {
  margin-right: 5px;
  padding: 3px 5px 0px 5px;
}

#column2 {
  flex-basis: 75%;
  border: 1px solid #696969
}